<footer class="container p-4 rounded">
  <div class="d-lg-flex justify-content-between">  
    <div class="copyright">
      <p>© 2023 My Resume Demo Project. All rights reserved.
        <a href="static/public_tFy5V1E0Kn/termofuse.html"   className="small text-muted me-1">Terms of Use </a>
        <a href="static/public_tFy5V1E0Kn/ppolicy.html" className="small text-muted">| Privacy Policy</a>
      </p>
    </div>
    <div>
      <ul class="d-flex gap-3 list-unstyled">
        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</footer>   