
<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-3 " >     
            <div id="scrollspy1" class="sticky-top">
              <!-- Sidebar -->
              <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white shadow-4-strong">
                <div class="position-sticky">
                  <div class="list-group list-group-flush mx-3 mt-4">
   
                    <h6 class="text-center">                  
                      <img src="{{ orgs_set|getDictItem:'myavatar' }}" class="rounded-circle" alt="Responsive Image" width="160" height="160">
                    </h6>
                    <br>
                    <h2 class="text-center"><b>AAA BB</b></h2>
                    <h6 class="text-center"><img src="{{ orgs_set|getDictItem:'zju' }}" class="img-fluid " alt="ZHEJIANG Unversity" width="50" height="50">Ph.D. ,Sr. Software Engineer </h6>
                    <h6 class="text-center">Full Stack | Network | Data Analysis | Prod Support</h6>
                    <a class="text-center">City, State, United States</a>
                    <br>
                    <a href="#remtarget-1" class="list-group-item list-group-item-action py-2 ripple"><i
                      class="fas fa-history fa-fw me-3"></i><span>EXPERIENCE</span></a>
                    <a href="#remtarget-2" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                      <i class="fas fa-cloud-download fa-fw me-3" style="color: #026d19"></i><span>COVER LETTER</span>
                    </a>
                    <a href="#remtarget-3" class="list-group-item list-group-item-action py-2 ripple ">
                      <i class="fas fa-cloud-download fa-fw me-3"  style="color: #026d19"></i><span>RESUME</span>
                    </a>
                    <a href="#remtarget-4" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-graduation-cap fa-fw me-3" style="color: #ff6219"></i><span>EDUCATION</span></a>
                    <a href="#remtarget-5" class="list-group-item list-group-item-action py-2 ripple"><i
                          class="fas fa-phone fa-fw me-3"></i><span>CONTACT</span></a>
                    <a href="#remtarget-6" class="list-group-item list-group-item-action py-2 ripple">
                      <i class="fas fa-laptop fa-fw me-3" style="color: #3303ac" ></i><span>SKILLS</span>
                    </a>
                    <a href="#remtarget-7" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-award fa-fw me-3"  style="color: #f6961f"></i><span>AWARDS</span></a>
         
                    <a href="http://localhost:8080/" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-computer fa-fw me-3"></i><span>PROJECT DEMO</span></a>
                    <a href="#!" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fa-brands fa-linkedin-in fa-fw me-3" style="color: #3378f8"></i><span>LinkedIn</span></a>
   
                        
                    <a href="#remtarget-8" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-info-circle fa-fw me-3"></i><span>ABOUT</span></a>                        
                    <a href="logout/" class="list-group-item list-group-item-action py-2 ripple"><i
                          class="fas fa-sign-out fa-fw me-3"></i><span>Sign Out</span></a>
                    </div>
                </div>
              </nav>
              <!-- Sidebar -->
            </div>  
          </div>

        <div class="col-md-9" style="font-size: 18px;">        
          <div
            data-mdb-spy="scroll"
            data-mdb-target="#scrollspy1"
            data-mdb-offset="10"
            class="scrollspy-example"
          >   

          <section id="remtarget-1">   
            <div class="card  border  border-light  shadow-4-strong">
              <img src="{{ orgs_set|getDictItem:'kicksoccball' }}" class="card-img-top" alt="My song Image" height="256"/> 
              <div class="card-body ">
                    <h1 class="card-title text-center" >EXPERIENCE</h1>
                    <p>My name is AAA BB, ...</p>
                    <p><b>Educations:</b></p> 
                    <ul>
                        <li>My major...
                        </li>
                    </ul>

                    <p>
                      <b>Work Experience:</b>
                    </p>
                        <ul>
                            <li>ABCDEFG communication Inc: .. </li>
                         </ul>
              </div>
            </div>
            <br>                  
          </section>  


              <br>
     <div class="row row-cols-1 row-cols-md-2 g-4">
           <div class="col">             
              <section id="remtarget-2">            
                <div class="card text-center border  border-light  shadow-4-strong"  >
                    <img src="{{ orgs_set|getDictItem:'kicksoccball' }}" class="card-img-top" alt="My song Image" height="256"/> 
                    <div class="card-body">
                        <h1 class="card-title">COVER LETTER</h1>
                    </div>                               
                    <div class="bg-image hover-overlay ripple " data-mdb-ripple-color="light">                                            
                      {% if user.is_authenticated %}
                         <img src="{{ orgs_set|getDictItem:'coverletter' }}" class="img-fluid center" alt="Cover Letter" width="150" height="150"/>
                      {% else %}
                        <img src="{{ orgs_set|getDictItem:'pubrmico' }}" class="img-fluid center" alt="Cover Letter" width="150" height="150"/>
                      {% endif %}
                      <a href="{{ orgs_set|getDictItem:'docCLnk' }}">
                        <div class="mask" style="background-color: rgba(51, 239, 136, 0.15);"></div>
                      </a>
                    </div>
                    <br>   
                </div>          
              </section>  
            <br>
           </div> 
           <div class="col">         
            
              <section id="remtarget-3">
                  <div class="card  text-center border  border-light  shadow-4-strong">
                    <img src="{{ orgs_set|getDictItem:'kicksoccball' }}" class="card-img-top" alt="My song Image" height="256"/> 
                    <div class="card-body">
                        <h1 class="card-title" >RESUME</h1>
                    </div>                               
                    <div class="bg-image hover-overlay ripple text-center" data-mdb-ripple-color="light">
                      <img src="{{ orgs_set|getDictItem:'resume' }}" class="img-fluid center" alt="Resume doc" width="150" height="150"/>
                      <a href="{{ orgs_set|getDictItem:'docRLnk' }}">
                        <div class="mask" style="background-color: rgba(53, 239, 75, 0.15);"></div>
                      </a>
                    </div>
                    <br>   
                  </div>                                  
              </section>           
              <br> 
            </div>
            
            <div class="col">  
              <section id="remtarget-4">             
                <div class="card   border  border-light  shadow-4-strong">
                    <div class="card-body ">
                        <h1 class="card-title text-center" >EDUCATION</h1>
                    </div>        
                    <div class="row">
                      <div class="col-md-1" style="font-size: 16px;">     
                          <h5></h5>
                      </div>              
                      <div class="col-md-11" style="font-size: 18px;">                           
                        <div class="bg-image hover-overlay ripple  text-center" data-mdb-ripple-color="light">
                          <img src="{{ orgs_set|getDictItem:'zju' }}" class="img-fluid " alt="ZHEJIANG Unversity" width="80" height="80">	
                         </div>   
                      </div>
                    </div> 
                    <br>         
                    <div class="row">
                      <div class="col-md-1" style="font-size: 16px;">     
                          <h5></h5>
                      </div>              
                      <div class="col-md-11" style="font-size: 18px;">                           
                        <div class="bg-image hover-overlay ripple  text-center" data-mdb-ripple-color="light">
                          <img src="{{ orgs_set|getDictItem:'phd' }}" class="img-fluid" alt="Ph.D." width="80" height="80"> Ph.D. in Researching xxx Algorithm.
                        </div>   
                      </div>
                    </div> 
                    <br>  
                    <div class="row">
                      <div class="col-md-1" style="font-size: 16px;">     
                          <h5></h5>
                      </div>              
                      <div class="col-md-11" style="font-size: 18px;">                           
                        <div class="bg-image hover-overlay ripple  text-center" data-mdb-ripple-color="light">
                          <a href="#!"><img src="{{ orgs_set|getDictItem:'spie' }}"  class="img-fluid" alt="spie1" width="80" height="80"> & </a>
                          <a href="#!"><img src="{{ orgs_set|getDictItem:'spie' }}"  class="img-fluid" alt="spie2" width="80" height="80"> etc.</a>                                    
                        </div>   
                      </div>
                    </div> 
                    <br>
                </div>                
              </section>
              <br>
            </div>
            
            <div class="col">  
              <section id="remtarget-5">        
                <div class="card border  border-light  shadow-4-strong"  >
               
                    <img src="{{ orgs_set|getDictItem:'sfggbridge' }}" class="card-img-top" alt="GGate Image" height="128"/> 
                 
                  <div class="card-body" style="width:60%; height: 100%;" >
                    <h3 class="card-title ">Contact Info</h3>
                    <p class="card-text">

                      <div class="container-fluid"> 
                        <div class="row">
                            <div class="col-md-3">
                              <i class="fas fa-id-card fa-fw me-3" ></i> <br><br>    
                              <i class="fa-brands fa-linkedin-in fa-fw me-3" ></i> <br><br>
                              <i class="fas fa-phone fa-fw me-3" ></i> <br><br>
                              <i class="fa-brands fa-envelope fa-fw me-3" ></i> 
                            </div> 
                            <div class="col-md-9">    
                              <span>Name</span><br>
                              <a href="#!">AAA BB</a> 
                              <br>
                              <span>My Profile</span>
                              <br>
                              <a href="#!">linkedin.com/in/12345</a> 
                              <br>
                              <span>Phone</span><br>
                              <a href="#!">1 (123) 1234567 (Mobile)</a> 
                              <br>
                              <span>Email</span>
                              <br>
                              <a href="#!">wbxsxu168 </a>
                            </div> 


                          </div>
                      </div>                   
                    </p>
                  </div>               
                </div>
              </section>       
            </div>
            
        </div>
        
        
              <section id="remtarget-6">
                <div class="card  border  border-light  shadow-4-strong">
                  <div class="card-body">
                      <h1 class="card-title text-center " >SKILLS</h1>
                      <h5>PROGRAMMING LANGUAGES & TOOLs:</h5>	
                      <div class="bg-image hover-overlay ripple " data-mdb-ripple-color="light">                  	 
                        {% for key1, values1 in skill_set.items %}
                          <img src="{{values1}}" alt="{{key1}}" width="60" height="60">                              
                        {% endfor %}                    
                      </div> 
                      <br>
                      <h5>Top Skills</h5>
                      <br>
                        <div class="container" style="height: 350px; background-color: rgb(2, 78, 70)">
                          <div class="row">
                            <div class="col-lg-6 p">

                              {% for bdata in skl_degree_lst %}                  
                                <div class="progress_bar">
                                  <div class="pro-bar">
                                      <small class="progress_bar_title">
                                        {{ bdata.name }}
                                          <span class="progress_number">{{ bdata.valueP }}%</span>
                                      </small>
                                      <span class="progress-bar-inner p-a"
                                          style="background-color: {{ bdata.valueC }}; width: {{ bdata.valueP }}%;" data-value="{{ bdata.valueP }}"
                                          data-percentage-value="{{ bdata.valueP }}">
                                      </span>
                                  </div>
                                </div>
                              {% endfor %}
           
                            </div>
                            <div class="col-lg-6" style="color: #D5D6E2;">
                              
                                  <div class="h4 text-center">Expertise in</div>
                                  <ul>
                                    <li>TCP/IP Protocol Analysis</li>
                                    <li>Full Stack</li>
                                    <ul>
                                      <li>React, Bootstrap/MDB, HTML/JS/CSS</li>
                                      <li>Python Django, DRF, JWT, OpenCV, NumPy, SSO & OAuth</li>
                                    </ul>  
                                    <li>Storage: Oracle, Postgreql & MySQL</li>
                                    <li>GitOPs: Kubernetes, Helm-chart, ArgoCD</li>
                                    <li>Secutiy: XXX Certificate</li>
                                    <li>Testing: Swagger, Postman</li>
                                  </ul>  
                            </div>
                         </div>
                        </div>
                   </div>                               
                </div> 
                <br>                
              </section>

              <section id="remtarget-7">
                <div class="card  border  border-light  shadow-4-strong ">
                  <div class="card-body text-center mx-auto" style="width:60%; height: 60%;">

                      <h1 class="card-title " >AWARDS</h1>
                      <br>		
                      <div id="carouselExampleCrossfade" class="carousel slide carousel-fade" data-mdb-ride="carousel" >
                        <div class="carousel-indicators">                     
                          {% for key2, value2 in dsp_idx_set.items %}             
                            {% if forloop.first %}
                              <button
                                  type="button"
                                  data-mdb-target="#carouselExampleCrossfade"
                                  data-mdb-slide-to="{{key2}}"
                                  aria-label="Slide {{value2}}"
                                    class="active"
                                    aria-current="true"
                              ></button>                                  
                            {% else %}  
                              <button
                                  type="button"
                                  data-mdb-target="#carouselExampleCrossfade"
                                  data-mdb-slide-to="{{key2}}"
                                  aria-label="Slide {{value2}}"     
                              ></button>                                  
                            {% endif %}
                          {% endfor %}               
                        </div>
                        <div class="carousel-inner" >                      
                          {% for key3, value3 in recogn_set.items %}
                            {% if forloop.first %}
                              <div class="carousel-item active" data-mdb-interval="3000" >
                                <img src="{{value3}}" class="d-block w-100" alt="{{key3}}"  />
                              </div>
                            {% else %}
                              <div class="carousel-item" data-mdb-interval="3500" >
                                <img src="{{value3}}" class="d-block w-100" alt="{{key3}}"  />
                              </div>
                            {% endif %}  

                          {% endfor %}   
                        </div>
                        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCrossfade" data-mdb-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true" style="color: rgb(168, 3, 177);"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCrossfade" data-mdb-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true" style="color: rgb(168, 3, 177);"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
    
                    </div>
                  </div> 
              </section>
 
                <br>
                <section id="remtarget-8">        
                  
                  <div class="card  border  border-light  shadow-4-strong">
                    <div class="card-header text-center"><h2>ABOUT</h2></div>
                    <div class="card-body">
                      <h5 class="card-title text-center">This Resume System</h5>
                      <p class="card-text">This resume system was built by using React/MDB + JWT+ Python/Django/DRF etc.
                        It served as a personal resume web site, and is purely used for demostration on the author's coding skills only.                        
                      </p>
                    </div>
                    <div class="card-footer text-muted text-center">
                      <a href="{{ orgs_set|getDictItem:'ToUseLnk' }}"   className="small text-muted me-1">Terms of Use </a>
                      <a href="{{ orgs_set|getDictItem:'PPolicyLnk' }}" className="small text-muted">| Privacy Policy</a>
                    </div>
                  </div>
                </section>  

          </div>           
        </div>
    </div> 
  </div>  
  